.DS_Store
**/bin
**/obj
**/.vs

haskell/dist
haskell/.cabal-sandbox
haskell/cabal.sandbox.config
haskell/hscope.out
haskell/codex.tags
haskell/.anvil
haskell/.stack-work*

**/tags
*~
*#*
.#*
/haskell/TAGS
/.direnv/
